name: Android Build APK

on:
  push:
    branches:
      - main # Trigger on pushes to the main branch

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: test
        run: ls ..

      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew
        working-directory: /home/runner/work/kalirc

      - name: Build Release APK
        run: ./gradlew assembleDebug
        working-directory: /home/runner/work/kalirc

      - name: Upload Release APK
        uses: actions/upload-artifact@v4
        with:
          name: app-release-apk
          path: /home/runner/work/kalirc/app/build/outputs/apk/debug/app-debug.apk
